
body, html {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: Chinese-takeaway;
  src: local("Chinese-takeaway"),
       local("Chinese-takeaway"),
       url(chinese-takeaway.regular.ttf);
}

body {
	margin-top: 100px;
	background-image: url("http://www.multiculticooking.com/wp-content/uploads/2011/06/IMG_2474.jpg");
	min-height: 100%;
	color: #FFF;
	text-align: center;
	font-family: 'Chinese-takeaway';
	font-size: 12px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}

#counterPlayer2 {
	z-index: -1;
	position: fixed;
	top: 300px;
	left: 100px;
	font-size: 30px;
	color: #000;
}


#counterPlayer1 {
	z-index: -1;
	position: fixed;
	top: 300px;
	right: 100px;
	font-size: 30px;
	color: #000;
}



.panel {
	font-size: 20px;
	padding-top: 14px;
	background: #004d1a;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.header {
	font-size: 30px;
	margin-top: 0;
	padding: 14px;
	background: #004d1a;
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}
